body {
  margin: 0 auto;
  background-color: blanchedalmond;
}

h1,
h2 {
  padding-top: 50px;
  text-align: center;
}

p,
.type {
  padding: 0 200px;
}

.container {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.photo {
  text-decoration: none;
  text-align: center;
  font-size: larger;
  color: rgb(115, 112, 22);
}

.imgCroissant {
  display: block;
  margin: 30px auto;
}

.footerLink {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.text {
  text-align: center;
}
